:root {
    font-size: 12px;

    --bgColor: hsl(240deg 5% 13%);
    --btnColor: hsl(0 0% 100% / 0.075);
    --fgColor: #99999f;
    --activeColor: #eee;
    --accentColor: #268ed9;
    --panelBg: hsl(0deg 0% 100% / 8%);
    --disabledTextColor: #b1b1b9;

    --inputBorderColor: hsl(0 0% 100% / 0.1);
}

* {
    margin: 0;
    padding: 0;
}

*:not(input) {
    user-select: none;
    cursor: default;
}

html,
body {
    height: 100%;
}

body {
    background: var(--bgColor);
    color: var(--fgColor);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

fieldset {
    display: contents;
}

summary::-webkit-details-marker {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.vis-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.debugger {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    padding: 2px;
}

.panel {
    background: var(--panelBg);
    padding: 0.5rem 0.75rem;
    flex: 1;
    flex-basis: auto;
}

.panel:not([open]) {
    height: min-content;
    flex: none;
}

.panel-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: normal;
    color: var(--activeColor);
    line-height: 1.5em;
    padding: 0.75rem;
    margin: -0.5rem -0.75rem 0;
    cursor: pointer;
}

.panel-title > svg {
    opacity: 0;
    transition: opacity 80ms ease;
}

.panel-title:hover > svg,
.panel-title:focus > svg {
    opacity: 1;
}

.panel-title:focus {
    box-shadow: 0 0 0 1px #268ed9 inset;
    outline: none;
}

.panel-title:active {
    background: hsl(240deg 5% 13% / 50%);
}

.panel:not([open]) .panel-title {
    margin-bottom: -0.5rem;
}

.panel-grid {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-gap: 0.25rem;
    grid-auto-rows: min-content;
}

.key {
    grid-column: 1;
}

.value {
    grid-column: 2;
    display: flex;
    gap: 0.25rem;
}

.value > * {
    flex: 1;
}

.key,
.field,
select {
    line-height: 1.5em;
    padding: 0.25em 0.5em;
    font-size: 0.9rem;
}

.key {
    padding-left: 0;
}

.field {
    background: var(--bgColor);
    border: 1px solid var(--inputBorderColor);
    border-radius: 2px;
    color: var(--activeColor);
    width: 100%;
    display: flex;
}

.field > input {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: none;
}

.field > input {
    flex: 1;
    width: 100%;
}

.field > label {
    flex: 0;
    color: var(--disabledTextColor);
    padding-right: 0.5em;
}

input:focus {
    outline: none;
}

.field:focus-within {
    border-color: var(--accentColor);
}

.field:disabled,
.field.-disabled {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px dotted var(--inputBorderColor);
}

.tree {
    list-style: none;
    grid-column: span 2;
}

.tree li {
    line-height: 1.25em;
    padding: 0.125rem 0.75rem;
    margin: 0 -0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.tree li:hover {
    background: rgba(255,255,255,0.05);
    color: var(--activeColor);
    box-shadow: 0 1px rgba(255,255,255,0.05), 0 -1px rgba(255,255,255,0.05);
}

.tree li[data-active="true"] {
    position: relative;
    z-index: 1;
    background: #505052;
    color: var(--activeColor);
    box-shadow: 0 1px #505052, 0 -1px #505052;

    transition: background-color 120ms ease, box-shadow 120ms ease;
}

.tree li[data-rendered="true"]::after {
    content: " R";
    color: green;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
    display: block;
}

.btn {
    background: var(--btnColor);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    border: 1px solid hsl(240 5% 13% / 0.6);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.4), 0 0 1px rgba(255,255,255,0.1) inset;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    border-radius: 2px;
    position: relative;
}

.btn:hover:not(:active) {
    background: #505052;
}

.btn:hover,
.btn:focus {
    color: #cfcfd4;
}

.toggle-group-inner {
    gap: 0;
}

.toggle-group .btn:not(:first-of-type) {
    margin-left: -1px;
}

.toggle-group  input:checked + .btn {
    background: var(--bgColor);
    border-top: 1px solid hsl(240 5% 11% / 0.6);
    box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0,0,0,0.4) inset;
    color: #cfcfd4;
}

.toggle-group  input:checked:not(:focus) + .btn {
    border-radius: 0;
}

.toggle-group  input:checked:not(:focus) + .btn:first-of-type {
    border-radius: 1px 0 0 1px;
}

.toggle-group  input:checked:not(:focus) + .btn:last-child {
    border-radius: 0 1px 1px 0;
}

.toggle-group input:focus + .btn {
    border-color: var(--accentColor);
    position: relative;
    z-index: 1;
}

.dropdown-wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "label icon";
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    grid-area: label / icon;
}

.dropdown-wrapper > svg {
    grid-area: icon;
    pointer-events: none;
    z-index: 1;
}